/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

/* MIXINS */
@mixin anchorStyle {
    color: black;
    text-decoration: none;
}


/* VARIABLES */
$orange: #F39C12;
$moon: #F1C40F;
$paper: #F8EFBA;
$logoGreen: #57816D;


html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    body {
      margin: 0
    }
}
#container {
    height: 100vh
}


.commonAlign {
  font-size: 1.5rem;
  display: flex;

  .subAlign {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .routeLink,
  .anchorLink {
    @include anchorStyle;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* header menu nav style */
.headerAlign {
    flex-direction: row !important;
    div {  
        align-self: end;
        a {
            margin-left: 1rem; }
    }
} 

/* side menu nav style */
.sideAlign {
    flex-direction: column;
    .subAlign {
        display: flex;
        flex-direction: column;
        a {
            padding: 1rem;
        }
        .resumeLink {
            color: white;
        }
    }
}

/* Header logo */
.mobile-App-logo {
    margin-top: 5px;
    left: 5%;
    padding: 12px;
}

/* multiLangSelect */
.selectWrapper {
    position: absolute;
    top: calc(17px * 6);
    right: 5%;

}


/* admin */
$border-color: lightgray;


.adminWrapper {
    position: absolute;
    top: calc(17px * 6);
    right: 6%;
    
    .loginAlert {
        position: absolute;
        right: 62px;
        width: if($border-color == lightgray, 150px, 120px);
        display: flex;
        justify-content: flex-end;
        padding: 12px;
        font-size: 1rem;
    }
    .userAdmin {
        cursor: 'pointer';
        &:hover { box-shadow: 2px 2px 15px 1px lightgray; }
    }
}



/* Blog */
.blogListWrap {
    list-style-type: disc;
    .blogList {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include anchorStyle;
        &:visited {
            color: black;
        }
        &:hover {
            background-color: $paper;
        }
    }
}