---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

// TODO: scroll-top component 만들기, 이미지 왼쪽 오른쪽 슬라이드 scss로만 구현
// reset original setting
// github io 블로그의 readme를 github profile page에 쓰는 방법

a {
    color: black;
    &:hover {
    color: #F8C291;
    }
    &:visited {
        color: black;
    }
}

// media query
@media print, screen and (max-width: 960px) {
    header {
        padding : 0 !important; 
    }
}
@media print, screen and (max-width: 720px) {
    header {
        padding : 0 !important; 
    }
}


html {
    scroll-behavior: smooth;
body {
    .wrapper {
        header {
            background-color: #777068;
            position: relative;
            margin-bottom: 25px;
            color: #ffffff;
            h1 {
                font-family: 'Rubik Mono One', sans-serif;
                font-size: 35px;
                line-height: 47px;
                padding: 7px 0 0 20px;
                color: #ffffff;
            }
            .profile {
                width: 158px;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
                background-image: url("/images/jung.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
            }
            .headline {
                text-align: center; 
                margin-top: 12px; 
                padding: 20px; 
                font-size: 25px; 
                font-family: 'Rubik Mono One', sans-serif;
            }
            .contacts {
                display: flex;
                justify-content: space-around;
                span {
                    font-size: 28px;
                }
            }
            .sub-contacts {
                margin-top: 10px;
                margin-bottom: 22px;
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        
            .category {
                // padding-left: 40px;
                margin-top: 20px;
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    display: block;
                    font-family: 'Rubik Mono One', sans-serif;
                    font-size: 23px;
                    line-height: 30px;
                }
            }
        }
        section {
            padding-top: 13px;
            h1, h3, h4 {
                font-family: 'Rubik Mono One', sans-serif;
                border-left : 5px solid #F8C291;
                padding-left: 10px;
            
            }
            .c_footer {
                font-size: 11px;
            }
        }
}
}
}

// index.md
#about,
#lang, 
#core,
#experience {
    margin-bottom: 2rem;
}

#experience {
    ul {
        margin: 2rem 0;
    }
}