---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


// reset original setting
a {
    color: black;
}
a:hover {
    color: #F8C291;
}
body {
    padding: 35px;
    header {
        background-color: #777068;
        h1 {
            font-family: 'Rubik Mono One', sans-serif;
            font-size: 35px;
            line-height: 47px;
            padding: 7px 0 0 20px;
        }
        .profile {
            width: 158px;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
            background-image: url("/images/jung.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }
        
        .contacts {
            display: flex;
            justify-content: space-around;
            span {
                font-size: 28px;
            }
        }
        .sub-contacts {
            margin-top: 10px;
            margin-bottom: 22px;
            text-align: center;
        }
    
        .category {
            padding-left: 40px;
            margin-top: 20px;
            padding-bottom: 50px;
            span {
                display: block;
                font-family: 'Rubik Mono One', sans-serif;
                font-size: 26px;
                line-height: 33px;
            }
        }
    }
}