/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
/* MIXINS */
/* VARIABLES */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive; }
  html body {
    margin: 0; }

#container {
  height: 100vh; }

.commonAlign {
  font-size: 1.5rem;
  display: flex; }
  .commonAlign .subAlign {
    display: flex;
    flex-direction: row;
    height: auto; }
  .commonAlign .routeLink,
  .commonAlign .anchorLink {
    color: black;
    text-decoration: none;
    font-weight: bold; }
    .commonAlign .routeLink:hover,
    .commonAlign .anchorLink:hover {
      text-decoration: underline; }

/* header menu nav style */
.headerAlign {
  flex-direction: row !important; }
  .headerAlign div {
    align-self: end; }
    .headerAlign div a {
      margin-left: 1rem; }

/* side menu nav style */
.sideAlign {
  flex-direction: column; }
  .sideAlign .subAlign {
    display: flex;
    flex-direction: column; }
    .sideAlign .subAlign a {
      padding: 1rem; }
    .sideAlign .subAlign .resumeLink {
      color: white; }

/* Header logo */
.mobile-App-logo {
  margin-top: 5px;
  left: 5%;
  padding: 12px; }

/* multiLangSelect */
.selectWrapper {
  position: absolute;
  top: calc(17px * 6);
  right: 5%; }

/* admin */
.adminWrapper {
  position: absolute;
  top: calc(17px * 6);
  right: 6%; }
  .adminWrapper .loginAlert {
    position: absolute;
    right: 62px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    font-size: 1rem; }
  .adminWrapper .userAdmin {
    cursor: 'pointer'; }
    .adminWrapper .userAdmin:hover {
      box-shadow: 2px 2px 15px 1px lightgray; }

/* Blog */
.blogListWrap {
  list-style-type: disc; }
  .blogListWrap .blogList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    text-decoration: none; }
    .blogListWrap .blogList:visited {
      color: black; }
    .blogListWrap .blogList:hover {
      background-color: #F8EFBA; }
